<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img src="{{ .Picture }}" alt="An image of you">
<h1>You're identified as {{ .Name }}</h1>
<p>Please close this window and return to kubectl</p>
</body>
</html>
